.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(87,91,148) !important;
    background-image: linear-gradient(to right,rgba(87,91,148), #4c53a8) !important;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #ffb021;
    --bs-nav-link-hover-color: #ffd487;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #fbdfac;
}

.navbar-text {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #ffb021;
    font-size: 0.8rem;
}

.jumbotron {
    width: 80%;
    margin: auto;
}

.jumbotron form {
    margin-top: 3rem;
}

.container.contact .jumbotron{
    width: 50%;
}

input {
    min-width: 100%
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5 {
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color)
}

h6 {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color)
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x)
}

footer {
    padding: 0px !important;
    margin-top: 3rem !important;
}

.container.aboutDiv {
    width: 100%;
    justify-items: center;
}
.aboutDiv .jumbotron{
    width: 100%;
    margin: 0px;
    padding: 2rem;
    justify-items: center;
}

@media (min-width:576px) {
    .aboutDiv {
        display: block;
        width: 100%;
    }
}

@media (min-width:992px) {
    .aboutDiv {
        display: flex;
        width: auto;
    }

    .split {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }
    
    .split img {
        margin: 0px;
        padding: 0px;
    }

    .split div {
        padding: 1rem;
    }
}


