<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container aboutDiv">
  <div class="aboutDiv">
    <img src="/img/headshot.png" alt="Headshot of Yaatu" style="vertical-align: middle; margin-right: 5px; width: 20rem; height: 20rem; margin-top: 2rem">
  </div>
  <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
    <p>I'm Yaatu Adem, a second-year student at Centennial College, pursuing a Software Engineering Technology - Artificial Intelligence diploma with a strong passion for technology and its transformative potential. With an expected graduation in December 2025, I'm currently seeking co-op opportunities to apply and expand my knowledge in the world of software engineering.</p>
    <p>My fascination lies in the development of specialized smart assistants, where artificial intelligence meets human interaction. I'm deeply committed to the idea of making mental health resources more accessible to everyone through innovative technology solutions.</p>
    <p>My journey in technology has equipped me with a versatile skill set. I'm proficient in several programming languages, including C, C#, JavaScript, CSS, HTML, Python, Oracle SQL, and Java. These tools empower me to bring all of my ideas to life and tackle real-world challenges.</p>
    <p>I'm a perpetual learner, always curious about emerging technologies and their potential to enhance people's lives both in the short and long term. My mission is to leverage my skills and passion to create technology-driven solutions that make a meaningful difference.</p>
    <p>Feel free to reach out if you share my passion for technology, mental health advocacy, or if you'd like to connect and explore opportunities together.</p>
    <a href="/contact" target="_self" rel="noopener noreferrer">
      <button style="background-color: rgb(27, 31, 35); color: #fff; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer;">
        Let's Chat!
      </button>
  </a>
    </div>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   