<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my Portfolio Website</h1>
    <p>Hello and welcome to my corner of the internet! I'm Yaatu Adem, a passionate software engineering technology student with a deep focus on artificial intelligence and machine learning. I'm thrilled to have you here, and I can't wait to share my journey and work with you.</p>
    <p>I'm continuously exploring the cutting-edge technologies and approaches that are transforming the world of technology as an aspiring AI and machine learning enthusiast. I'm committed to pushing the limits of what is achievable in the realm of technology, whether it be through designing intelligent algorithms or innovative online applications.</p>
    <p>Feel free to browse at my portfolio, get acquainted with me better, explore through my services, or get in touch if you want to work together on a project or talk about the wonderful possibilities offered by AI and ML. I'm always excited to get in touch with like-minded individuals, students, and possible business partners.</p>
    <p>Thank you for stopping by, and I hope you find inspiration and insights within these digital pages. Let's embark on this technology-driven journey together!</p>
    <p>Best regards,</p>
    <p>Yaatu Adem</p>

    <a href="https://github.com/YaatuA" target="_blank" rel="noopener noreferrer">
      <button style="background-color: rgb(27, 31, 35); color: #fff; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer;">
          <img src="/img/github-logo.png" alt="GitHub Logo" style="vertical-align: middle; margin-right: 5px; width: 40px; height: 40px;">
          GitHub
      </button>
  </a>

    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   