<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Projects</h1>
    <h3>Notion Chart API</h3>
    <img src="/img/notion.png" alt="Screenshot of Notion Template" style="vertical-align: middle; margin-right: 5px; max-height: 30rem; margin-top: 2rem; max-width: 100%;">
    <p>Developed an API using Node.js to incorporate charts in a Notion Template. This API incorporates Notion's API to gather database data, QuickChart's API to render the chart, and Imgur's API to render the chart as an image to view in Notion.</p>

    <h3 style="margin-top: 5rem;">Catch the Cow - A Whack-A-Mole Style Game</h3>
    <div class="split">
      <img src="/img/catchcow.png" alt="Screenshot of Catch the Cow game" style="vertical-align: middle; margin-right: 5px; height: 30rem; margin-top: 2rem">
      <div>
        <p>A whack-a-mole style HTML game using JavaScript where the player tries to click on the cow as many times as possible. This simple game gets progressively difficult as the score increases. Try to catch as many as you can!</p>
      <a href="http://studentweb.cencol.ca/yadem3/comp125/assignment3/index.html" target="_blank" rel="noopener noreferrer">
        <button style="background-color: rgb(27, 31, 35); color: #fff; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer; min-height: 65px; margin: 5px;">
            Play the Game
        </button>
    </a>
    <a href="https://github.com/YaatuA/HTML-CSS-JavaScript/tree/main/Client-Side%20Web%20Development%20(%2BJavascript)/Assignment%203%20-%20Whack-a-Mole%20Style%20HTML%20Game" target="_blank" rel="noopener noreferrer">
      <button style="background-color: rgb(27, 31, 35); color: #fff; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer; min-height: 65px; margin: 5px;">
          <img src="/img/github-logo.png" alt="GitHub Logo" style="vertical-align: middle; margin-right: 5px; width: 40px; height: 40px;">
          View GitHub Repository
      </button>
  </a>
      </div>
    </div>
    
    <h3 style="margin-top: 5rem;">Upcoming Project: Multi-Platform Mastermind Game</h3>
    <img src="/img/mastermind.jpeg" alt="Mastermind Board Game" style="vertical-align: middle; margin-right: 5px; max-height: 30rem; margin-top: 2rem; max-width: 100%; width: 30rem;">
    <p>Using React Native, I am currently developing a multi-platform version of the code breaking game Mastermind. Rules of the game can be found <a href="https://en.wikipedia.org/wiki/Mastermind_(board_game)">here</a>. To be available for both Android and iOS, this multi-platform project includes a single player and two player mode where the player must guess the code in under 10 guesses to win.</p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   