<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Services Offered</h1>
    <p>Services offered include but are not limited to:</p>
    <ul>
      <li>Web Development</li>
      <li>Mobile App Development</li>
      <li>AI and Machine Learning Solutions</li>
      <li>Chatbot Development</li>
      <li>Database Management</li>
      <li>Custom Software Development</li>
      <li>UI/UX Design</li>
      <li>Technical Consultation</li>
  </ul>
  <img src="/img/products.jpeg" alt="Full Stack Developer Languages" style="vertical-align: middle; width: 100%; max-height: 20rem; margin-top: 2rem">
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   